.time_now{font-size: 25px;padding: 15px 20px;line-height: 28px;width: 98.85%;color: #FFF;background: #6718b1;font-size: 20px;position: absolute;z-index: 9;bottom: -40px;left: 15px;line-height: 18px;}
.bg-green{color: #fff;background-color: #398439;border-color: #255625;}
.thumbnail{padding: 2px !important;}
.bg-blue {background: #3498DB!important;border: 1px solid #3498DB!important;color: #fff;}
.row.content {height: 450px}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {width: 100%;height: 500px;}
ul {list-style-type:none;}
body {text-align: center;}
#carousel-example-generic {display: inline-block;}
ul.thumbnails-carousel {padding: 0px 0 0 0;margin: 0;list-style-type: none;text-align: center;}
ul.thumbnails-carousel .center {display: inline-block;}
ul.thumbnails-carousel li {margin-right: 5px;float: left;cursor: pointer;}
.controls-background-reset {background: none !important;}
.active-thumbnail {opacity: 0.4;}
.indicators-fix {bottom: 100px;}
.text { font-family:verdana; text-decoration:none}
.text:hover { font-family:verdana; text-decoration:none}

@media screen and (max-width: 767px) {
  .sidenav {height: auto;padding: 15px;}
  .row.content {height:auto;}
}